h1
{
    color: blue;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
body
{
background-color: white;
}
ul
{
    list-style-type: square;
    padding-left: 20px;
}
li
{
    margin: 5px, 0;
}
p
{
    font-size: 16px;
    line-height: 1.5;
    color: black;
}
